* {
	margin: 0;
	padding: 0;
}
#sec1{
	height: 400px;
	width: 640px;
	background-color: #b08b64;
	color: white;
	position: relative;
	text-align: center;
}
#h{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 600px;
	height: 49px;
	border: rgba(255,255,255,0) solid 1px;
	transition: all 1s;
}
#v{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 350px;
	border: rgba(255,255,255,0) solid 1px;
	transition: all 1s;
}
#sec1 h1{
	position: absolute;
	width: 200px;
	height: 50px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: all 1s;
}
#sec1 p{
	position: absolute;
	width: 350px;
	margin: 0 auto;
	right: 0;
	left: 0;
	bottom: 80px;
	opacity: 0;
	transition: all 1s;
}
#sec1:hover>img{
	opacity: 0.7;
}
#sec1:hover>#h{
	border-right-color: rgba(255,255,255,1);
	border-left-color: rgba(255,255,255,1);
	height: 350px;
}
#sec1:hover>#v{
	border-top-color: rgba(255,255,255,1);
	border-bottom-color: rgba(255,255,255,1);
	width: 600px;
}
#sec1:hover>h1{
	transform: translateY(40px);
}
#sec1:hover>p{
	opacity: 1;
	transform: translateY(-40px);
}

#sec2{
	position: relative;
	width: 600px;
	height: 400px;
	color: white;
	overflow: hidden;
}
#sec2>img{
	opacity: 0.7;
	transform: translate(-50px);
	transition: all 1s;
}
#sec2>h1{
	position: absolute;
	left: 40px;
	bottom: 100px;
	transition: all 1s;
}
#sec2>p{
	position: absolute;
	left: 40px;
	bottom: 80px;
	opacity: 0;
	transition: all 1s;
}
#sec2:hover>img{
	transform: translate(0px);
	opacity: 1;
}
#sec2:hover>h1,#sec2:hover>p{
	transform: translateY(-50px);
	opacity: 1;
}

#sec3{
	width: 640px;
	height: 400px;
	position: relative;
	color: white;
	text-align: center;
	background-color: black;
}
#sec3>img{
	opacity: 0.6;
	transition: all 0.5s;
}
#sec3>h1{
	position: absolute;
	top: 50%;
	left: 235px;
	transition: all 0.5s;
}
#sec3 div{
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	opacity: 0;
	border: solid 1px;
	transition: all 0.5s;
}
#sec3 p{
	position: absolute;
	font-size: 1px;
	width: 400px;
	height: 10px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	transition: all 0.5s;
	opacity: 0;
}
#sec3:hover>img{
	opacity: 0.9;
}
#sec3:hover>h1{
	transform: translateY(-60px);
}
#sec3:hover div{
	height: 340px;
	width: 575px;
	opacity: 1;
}
#sec3:hover p{
	transform: scale(1.5);
	opacity: 1;
}